@model IEnumerable<Ass_handtph26146.Models.Hoa>

@{
	ViewData["Title"] = "ShowListHoa";
}

<h1>ShowListHoa</h1>

<p>
	<a asp-action="Create">Tạo sản phẩm</a>
</p>
<table class="table">

	<tbody>
		@foreach (var item in Model)
		{

			<div class="prod_box">
				<div class="center_prod_box">
					<div class="product_title"><a href="#"> @item.Ten</a></div>
					<div class="product_img"><a href="#"><img src="images/p1.jpg" alt="" border="0" /></a></div>
					<div class="prod_price"><span class="reduce">@item.GiaBan.ToString("n0")</span> <span class="price"> @item.GiaNhap.ToString("n0")</span></div>
				</div>

				<div class="prod_details_tab">
					<a class="prod_details" @Html.ActionLink("Details", "Details", new { id=item.Id })></a>
					<a class="prod_details" @Html.ActionLink("AddToCart", "AddCart","Cart", new {id=item.Id })></a>

				</div>
			</div>
		}
	</tbody>
</table>
